{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Squirrel Sightings</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head> 
  <body>
    <nav class="navbar navbar-default ">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/sightings">Squirrel Tracker</a></div>
        <ul class="nav navbar-nav ">
          <li>
            <a href="/map">Map</a></li>
	  <li>
            <a href="/sightings/add">Add A New Sighting</a></li>
          <li>
            <a href="/sightings/stats">Statistics</a></li>
        </ul>
      </div>
    </nav>
    <p>Click the link to view and update the sighting detail of each squirrel.</p>
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th>Unique Squirrel ID</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
	  {% for squirrel in squirrels %}
	  <td><a href="{% url 'sightings:update' squirrel.Unique_Squirrel_ID %}">{{ squirrel.Unique_Squirrel_ID }}</td>
	  <td>{{squirrel.Date}}</td>
        </tr>
	{% endfor %}
      </tbody>
    </table>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table.min.js"></script>
  </body>
</html>
